@page "/user-home"

@inject NavigationManager nav 
@inject ITokenProvider tp

@code{
    public string token {get;set;}
}
<style>
    .list-group-item:hover{
        background-color: var(--primary-color);
    }
</style>
<div>
    <h2> Выберите действие </h2>
    <div>@token</div>
    
    <div @onclick="@(evt=>{ token=tp.Get(); })">update</div>
    <div @onclick="@(async evt=>{ await tp.Set("asd"); })">change</div>
    <div class="list-group">
        <div class="list-group-item" 
            @onclick="@(evt=>{ nav.NavigateTo("/purchase-order"); })">
            Купить
        </div>
        <div class="list-group-item" 
            @onclick="@(evt=>{ nav.NavigateTo("/purchase-history"); })">
            История
        </div>        
        <div class="list-group-item" 
            @onclick="@(evt=>{ nav.NavigateTo("/user-logout"); })">
            Выход
        </div>       
    </div>    
</div>